---
import 'photoswipe/style.css'
import galeria from '@/data/galeria.json'
---

<section class='galeria container'>
  <h2 class='galeria--title'>Galeria</h2>
  <div class='gridGaleria' id='galeria-imgs'>
    {
      galeria.map((foto) => (
        <a
          href={foto.jpgSrc}
          data-pswp-width={foto.width}
          data-pswp-height={foto.height}
          data-cropped='true'
        >
          <img
            loading='lazy'
            decoding='async'
            class='imagenGaleria'
            src={foto.webpSrc}
            alt={foto.description}
          />
        </a>
      ))
    }
  </div>
</section>

<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#galeria-imgs',
    children: 'a',
    pswpModule: () => import('photoswipe')
  })
  document.addEventListener(
    'astro:page-load',
    () => {
      if (lightbox) lightbox.init()
    },
    { once: false }
  )
</script>

<style>
  .galeria {
    margin-top: var(--size-xl);
  }
  .galeria--title {
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    margin-bottom: var(--size-base);
  }
  .gridGaleria {
    columns: 4 320px;
    column-gap: 0.5rem;
  }
  .imagenGaleria {
    max-width: 100%;
    display: block;
    margin-bottom: 0.5em;
    border-radius: 6px;
    transition: box-shadow 0.8s ease;
  }
  .imagenGaleria:hover {
    box-shadow: 0px 0px 0px 2px #ffff;
  }

  /* xs */
  /* @media (min-width: 475px){} */

  /* sm */
  @media (min-width: 640px) {
    .galeria--title {
      font-size: var(--size-3xl);
    }
  }

  /* md */
  @media (min-width: 768px) {
    .galeria--title {
      font-size: var(--size-4xl);
      margin-bottom: var(--size-xl);
    }
  }

  /* lg */
  /* @media (min-width: 1024px){} */

  /* xl */
  /* @media (min-width: 1280px){} */

  /* 2xl */
  /* @media (min-width: 1536px){} */
</style>
