---
import MenuIcon from '@icons/MenuIcon.astro'
import Image from 'astro/components/Image.astro'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getI18n } from '@/i18n/app'

const local = Astro.currentLocale
const homeUrl = getRelativeLocaleUrl(local, '/')
const aboutUrl = getRelativeLocaleUrl(local, 'about')
const galleryUrl = getRelativeLocaleUrl(local, 'gallery')

const i18 = getI18n(local)
---

<header>
  <nav class='desktop__navbar'>
    <a class='btn desk__btn' href={homeUrl}>{i18.HEADER__MENU_Home}</a>
    <a class='btn desk__btn' href={aboutUrl}>{i18.HEADER__MENU_About}</a>
    <a class='btn desk__btn' href={galleryUrl}>{i18.HEADER__MENU_Gallery}</a>
  </nav>
  <div class='container'>
    <button id='openMobile' aria-label='Open mobile menu'>
      <MenuIcon width={32} height={32} />
    </button>

    <Image
      loading='eager'
      fetchpriority='high'
      class='logo'
      src='/images/logo.webp'
      width='1739'
      height='794'
      alt='Logo de Asadero Palacio'
    />

    <h1>{i18.HEADER__TITLE}</h1>
    <p>{i18.HEADER__DESC}</p>

    <nav id='mobile__navbar' class='mobile__navbar'>
      <a class='mobile__btn' href={homeUrl}>{i18.HEADER__MENU_Home}</a>
      <a class='mobile__btn' href={aboutUrl}>{i18.HEADER__MENU_About}</a>
      <a class='mobile__btn' href={galleryUrl}>{i18.HEADER__MENU_Gallery}</a>
    </nav>
  </div>
</header>

<script src='../js/mobile.js'></script>

<style>
  :root {
    --width-menu: 200px;
  }
  @keyframes blur {
    to {
      box-shadow: 0 5px 50px -5px hsla(0, 0, 100%, 0.1) 0 0px 0px 1px hsla(0, 0, 0, 0.3);
      background: var(--clr-primary);
      backdrop-filter: blur(5px);
    }
  }
  @keyframes show {
    0% {
      width: 0px;
    }
    100% {
      width: var(--width-menu);
    }
  }
  @keyframes hide {
    0% {
      width: var(--width-menu);
    }
    100% {
      width: 0%;
    }
  }

  #openMobile {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 100;
  }
  .mobile__navbar {
    width: var(--width-menu);
    height: 100dvh;
    background-color: #0f0e0e76;
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  #mobile__navbar.show {
    display: flex;
  }

  .mobile__btn {
    font-size: var(--size-lg);
    text-align: center;
    text-decoration: none;
    background-color: var(--clr-primary);
    padding: 0.5em 1em;
    width: var(--width-menu);
    transition:
      color 0.3s,
      transform 0.4s;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  .mobile__btn:hover {
    background-color: var(--clr-terciary);
    color: var(--clr-primary);
    transform: translate(20px);
  }
  .desktop__navbar {
    display: none;
  }

  .logo {
    margin-inline: auto;
    width: 305px;
    height: auto;
    aspect-ratio: 1739/794;
    margin-top: var(--size-lg);
    margin-bottom: var(--size-base);
  }
  h1 {
    font-family: var(--font-primary);
    font-size: var(--size-4xl);
    text-align: center;
  }
  p {
    font-family: var(--font-secondary);
    font-size: var(--size-sm);
    text-align: center;
  }

  /* MOBILE FIRST  */

  /* xs */
  @media (min-width: 475px) {
    .logo {
      width: 400px;
    }
    h1 {
      font-size: var(--size-5xl);
    }
    p {
      font-size: var(--size-lg);
    }
  }

  /* sm */
  @media (min-width: 640px) {
    p {
      font-size: var(--size-xl);
    }
  }

  /* md */
  @media (min-width: 768px) {
    .logo {
      width: 500px;
    }
    #openMobile {
      display: none;
    }
    .mobile__navbar {
      display: none;
    }

    .desktop__navbar {
      padding: var(--size-xxs);
      width: 100vw;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      gap: var(--size-5xl);
      align-items: center;
      animation: blur linear;
      animation-timeline: scroll();
      animation-range: 0 2000px;
      z-index: 10;
    }
    .desk__btn {
      font-size: var(--size-base);
      width: fit-content;
      transition: background-color 0.3s;
    }
    .desk__btn:hover {
      background-color: var(--clr-slate100);
    }
  }

  /* lg */
  @media (min-width: 1024px) {
    .logo {
      width: 600px;
    }
    h1 {
      font-size: var(--size-6xl);
    }
    p {
      font-size: var(--size-2xl);
    }
  }

  /* xl */
  @media (min-width: 1280px) {
    .logo {
      width: 800px;
    }
    h1 {
      font-size: var(--size-7xl);
    }
    p {
      font-size: var(--size-3xl);
    }
  }

  /* 2xl */
  /* @media (min-width: 1536px) {} */
</style>
