---
import { getI18n } from '@/i18n/app'

const local = Astro.currentLocale
const i18 = getI18n(local)
---

<h2 class='main__el-title'>{i18.NEWS__TITLE}</h2>
<div class='novedades__grid'>
  <article class='novedades__ele'>
    <h3 class='novedades__title'>{i18.NEWS__H3_1}</h3>
    <img
      class='novedades__img'
      src='/images/galeria/Empanadilas.webp'
      alt='foto de unas empandillas recien sacadas del horno'
      width='1020'
      height='574'
    />
    <p class='novedades__desc'>
      {i18.NEWS__P1_1}
      <strong>{i18.NEWS__P1_2}</strong>. {i18.NEWS__P1_3}
      <strong>{i18.NEWS__P1_4}</strong>
    </p>
  </article>
  <article class='novedades__ele'>
    <h3 class='novedades__title'>{i18.NEWS__H3_2}</h3>
    <img
      class='novedades__img'
      src='/images/galeria/Canelones.webp'
      alt='Fotografia de una paella de pollo y judias'
      width='1020'
      height='574'
    />
    <p class='novedades__desc'>
      {i18.NEWS__P2_1}
      <strong>{i18.NEWS__P2_2}</strong>. {i18.NEWS__P2_3}
    </p>
  </article>
</div>

<style>
  .novedades__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .main__el-title {
    margin-bottom: 1rem;
    font-family: var(--font-primary);
    font-size: var(--size-2xl);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .novedades__ele {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  .novedades__title {
    font-size: var(--size-2xl);
  }
  .novedades__img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }
  .novedades__desc {
    max-width: 50ch;
    font-size: var(--size-lg);
  }

  /* MOBILE FIRST  */

  /* xs */
  @media (min-width: 475px) {
    .novedades__grid {
      gap: 0.75rem 2rem;
    }
  }

  /* sm */
  /* @media (min-width: 640px) {} */

  /* md */
  @media (min-width: 768px) {
    .novedades__img {
      height: 150px;
    }
  }

  /* lg */
  /* @media (min-width: 1024px) {} */

  /* xl */
  @media (min-width: 1280px) {
    .novedades__img {
      height: 200px;
    }
  }

  /* 2xl */
  /* @media (min-width: 1536px){} */
</style>
